@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}

.activeCategory {
  transition: padding-left 0.3s ease 0s;
  background: rgba(70, 163, 88, 0.95);
  color: rgb(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.activeCategory .category_name {
  margin-left: 20px;
}
